<h1> edit guest </h1>
<%= @guest.id %>


<ul>

<form action="/guests/<%= @guest.id %>" method="PATCH">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

 <li>
   <label>Name:</label>
   <input type="string"  value ="<%= @guest.name %>" name="name"  />
 </li>

 

 <li>
   <label>Phone number:</label>
   <input type="string " value ="<%= @guest.phone_number %>" name="phone_number" />
 </li>


 <li>
 <label>Adress:</label>
   <input type="string" value ="<%= @guest.adress %>" name="adress"   />
 </li>



 <li>
   <label>E-mail:</label>
   <input type="string" value ="<%= @guest.email %>" name="email"  />
 </li>


 <li>
 <label>Note:</label>
   <input type="text" value ="<%= @guest.note %>" name="note" />
 </li>


 <li>
   <label>Date created:</label>
   <input type="date" value ="<%= @guest.created_at %>"name="created_at"/>
 </li>


 <li>
   <label>Date updated:</label>
   <input type="date"value ="<%= @guest.updated_at %>" name= "updated_at" />
 </li>


 <li>

 <label>Choose a timeline:</label>

 <select name="time_line" value ="<%= @guest.time_line %>" placeholder=" select time_line">
     <option value="">--Please choose an option--</option>
     <option value="now">Now</option>
     <option value="3 months">3 Months</option>
     <option value="6 months"> 6 Months</option>
     <option value="1 year">1 Year</option>
     <option value="just browsing">Just browsing</option>
   
 </select>
 </li>



 <form action='/guests/<%= @guest.id %>'  method='PATCH'>
 <input id="hidden" type="hidden" name="_method" value="update">


 <li>
 <input type='submit' value="update" />
 </li>
 
</form> 




