<h1> edit guest </h1>
<%= @guest.name %>


<ul>

<form action="/guests/<%= @guest.id %>" method="patch">
  <input id="hidden" type="hidden" name="_method" value="patch">

 <li>
   <label>Name:</label>
   <input type="string"  name="name" placeholder="<%= @guest.name %>" />
 </li>

 

 <li>
   <label>Phone number:</label>
   <input type="string "  name="phone_number" placeholder=" <%= @guest.phone_number %>" />
 </li>


 <li>
 <label>Adress:</label>
   <input type="string"  name="adress" placeholder="<%= @guest.adress %> " />
 </li>



 <li>
   <label>E-mail:</label>
   <input type="string"  name="email"placeholder="<%= @guest.email %>  " />
 </li>


 <li>
 <label>Note:</label>
   <input type="text"  name="note"placeholder="<%= @guest.note %>  " />
 </li>


 <li>
   <label>Date created:</label>
   <input type="date" name="created_at"/>
 </li>


 <li>
   <label>Date updated:</label>
   <input type="date" name= "updated_at" />
 </li>


 <li>

 <label>Choose a timeline:</label>

 <select name="time_line" placeholder=" select time_line">
     <option value="">--Please choose an option--</option>
     <option value="now">Now</option>
     <option value="3 months">3 Months</option>
     <option value="6 months"> 6 Months</option>
     <option value="1 year">1 Year</option>
     <option value="just browsing">Just browsing</option>
   
 </select>
 </li>


 <li>
 <input type="submit" value="Update">
</li>
</form>