<h1>Show guests</h1>

<p>single guest goes here</p>


<li>
<label>Name:</label> <%= @guest.id %>
</li>


<li>
<label>Name:</label> <%= @guest.name %>
</li>

<li>
<label>Email:</label> <%= @guest.email %>
</li>

<li>
<label>Phone:</label> <%= @guest.phone_number %>
</li>

<li>
<label>Timeline:</label> <%= @guest.time_line %>
</li>



<a href="/guest/<%=@guest.id %>/delete" >Delete guest <a/>



