<h1>Show guests</h1>


<p>single guest goes here</p>

<form action="/guests/<%= @guest.id %>" method="POST">
<li>
<label>Name:</label> <%= @guest.id %>
</li>



<li>
<label>Name:</label> <%= @guest.name %>
</li>

<li>
<label>Phone:</label> <%= @guest.phone_number %>
</li>


<li>
<label>Email:</label> <%= @guest.email %>
</li>



<li>
<label>Timeline:</label> <%= @guest.time_line %>
</li>

<li>
<label>Note:</label> <%= @guest.note %>
</li>

<li>
<label>Created_at:</label> <%= @guest.created_at %>
</li>


<li>
<label>Updated_at:</label> <%= @guest.updated_at %>
</li>
</form>


<form action='/guests/<%= @guest.id %>' method="post">
    <input id="hidden" type="hidden" name="_method" value="DELETE">


    <li>
    <input type='submit' value="delete guest" />
    </li>
    
</form> 


